.inputAnswer {
    width: 40px;
    height: 40px;
}

.inputContainer {
    margin-top: 5%;
}

.row {
    margin-bottom: 10px;
}

#message {
    text-align: center;
}

#countShow {
    text-align: center;
}

.hideElement {
    display: none;
}